*.pyc
__pycache__/
.pytest_cache/
.venv/
env/
venv/
.env
.flaskenv
.virtualenvs/
*.log
.idea/
.vscode/
*.iml
build/
dist/
.eggs/
*.egg-info/
*.egg
*.whl
*.zip
.tox/
__pycache__/
Thumbs.db
.DS_Store
*.swp
*.swo
*.tmp
*.bak
logs.txt